<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="croft.portfolio">

    <application
        android:allowBackup="true"
        android:icon="@drawable/tick"
        android:label="Carter 3027 A1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="croft.portfolio.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="croft.portfolio.NameGenerator.NameGenMain" />
        <activity android:name="croft.portfolio.NameGenerator.NameViewActivity" />
        <activity android:name="croft.portfolio.Calculator.CalculatorMain" />
        <activity android:name="croft.portfolio.MonsterParty.MonsterMain" />
        <activity android:name="croft.portfolio.MonsterParty.AddMonsterActivity" />
        <activity android:name="croft.portfolio.BasicReminder.BasicViewListActivity" />
        <activity android:name="croft.portfolio.BasicReminder.BasicAddReminderActivity" />
        <activity android:name="croft.portfolio.BasicReminder.BasicViewDetailedReminderActivity" />
        <activity android:name="croft.portfolio.PersistentReminder.AddReminderActivity"/>
        <activity android:name="croft.portfolio.PersistentReminder.ViewDetailedReminderActivity" />
        <activity android:name=".PersistentReminder.MainViewListActivity" />

    </application>

</manifest>