<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="croft.todo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/tick"
        android:label="Carter 3027 A1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".BasicReminder.BasicViewListActivity" />
        <activity android:name=".BasicReminder.BasicAddReminderActivity" />
        <activity android:name=".NameGenerator.NameGenMain" />
        <activity android:name=".NameGenerator.NameViewActivity" />
        <activity android:name=".Calculator.CalculatorMain" />
        <activity android:name=".MonsterParty.MonsterMain" />
        <activity android:name=".MonsterParty.AddMonsterActivity" />
        <activity android:name=".BasicReminder.BasicViewDetailedReminderActivity" />


    </application>

</manifest>